.icon-arrow-in {
  background-image: url(../images/arrow_in.png);
}

.icon-arrow-out {
  background-image: url(../images/arrow_out.png);
}

.simplify-on, .simplify-off {
  float: right;
}

.simple-box textarea {
  width: 99%;
  min-width: 99%;
  max-width: 99%;
}

p.no-label {
  padding: 3px 0 3px 8px;
}

.simple-box {
  padding:6px;
  margin-bottom: 10px;
  background-color:#f6f6f6;
  color:#505050;
  line-height:1.5em;
  border: 1px solid #e4e4e4;
}

.simple-buttons {
}

input#issue_assigned_to_id_ac {
  width: 60%;
}

#new-member-candidate {
  font-weight: bold;
}

#ruler {
  position: absolute;
  top: 115px;
  left: 0;
  width: 1000px;
  background-color: gray;
  height: 1px;
}

.simple-box.tabular label {
  margin-top: 2px;
}

.simple-hidden {
  display: none;
}

.select2-field input {
  padding: 0;
}

ul.select2-results {
  max-height: 400px;
}

select:not([multiple='multiple']) {
  -webkit-padding-end: 22px;
  -webkit-padding-start: 8px;
}

select:not([multiple='multiple']) {
  -webkit-appearance: button;
  -webkit-border-radius: 4px;
  -webkit-user-select: none;

  background-color: #fff;
  background-image: url(/base/plugin_assets/redmine__select2/images/select2-arrow.png), -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: url(/base/plugin_assets/redmine__select2/images/select2-arrow.png), -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background-image: url(/base/plugin_assets/redmine__select2/images/select2-arrow.png), -ms-linear-gradient(top, #ffffff 0%, #eeeeee 50%);
  background-position: center right;
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#eeeeee', GradientType = 0);

  background-image: url(/base/plugin_assets/redmine__select2/images/select2-arrow.png), linear-gradient(top, #ffffff 0%, #eeeeee 50%);

  border: 1px solid #aaa;
  border-radius: 4px 4px 4px 4px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 22px;
  padding: 0 13px 0 3px;

  font: inherit;
}

@-moz-document url-prefix() {
  select:not([multiple='multiple']) {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';

    background-image: url("/base/plugin_assets/redmine__select2/images/select2-arrow.png"), -moz-linear-gradient(center bottom , #EEEEEE 0%, white 50%);

    padding: 1px 3px 0 2px;
  }
}

@media \0screen {
  select { padding-right: 0; }
}

.simple-box select, .simple-box select#issue_done_ratio {
  width: 20%;
}

.simple-box input, .simple-box textarea {
  font: inherit;
}
